include:
  - compose.infra.dev.yaml
  # - compose.gateway.dev.yaml
# services:
#   client-gateway-ms:
#     depends_on:
#       - nats-server
#       - redis-shared-cache
#     build: ./submodules/client-gateway-ms
#     ports:
#       - 3000:3000
#     volumes:
#       - ./submodules/client-gateway-ms/src:/usr/src/app/src
#     env_file:
#       - ./config/submodules/client-gateway-ms/.env.development
#     environment:
#       - PORT=3000 # no need
#       - NATS_SERVERS=nats://nats-server:4222
#     command: pnpm run start:watch # environment file is set in script, if removed should be added here
# Main app related

# api:
#   depends_on:
#     - postgres-api-db
#   build: ./
#   ports:
#     - 3000:3000
#   volumes:
#     - ./src:/usr/src/app/src
#   env_file:
#     - ./config/.env.development
#   environment:
#     - PORT=3000
#     - NATS_SERVERS=nats://nats-server:4222
#   command: pnpm run start:dev
# Under development in auth-ms
# postgres-auth-db:
#   image: postgres:18.1-alpine3.22
#   restart: always
#   container_name: postgres-auth-db
#   ports:
#     - "5433:5432" # mind different hostport
#   env_file:
#     - ./config/.env.development
#   environment:
#     POSTGRES_DB: ${DB_NAME}
#     POSTGRES_USER: ${DB_USERNAME}
#     POSTGRES_PASSWORD: ${DB_PASSWORD}
#   volumes:
#     - ./postgres_auth_db_data:/var/lib/postgresql

# Authentication microservice related

# redis-shared-cache:
#   image: redis:8.4.0-alpine
#   restart: always
#   container_name: nestjs_auth_ms_cache_dev
#   ports:
#     - "6379:6379"
#   volumes:
#     - ./redis_shared_cache_data:/data
#   depends_on:
#     - postgres-api-db
#     - postgres-auth-db

